.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.github {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
}

.github svg {
  width: 30px;
  height: 30px;
}

.header {
  color: white;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 5rem;
  text-shadow: #9599E2 2px 0px 10px;
  margin-bottom: 0px;
}

.input {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
